body{
    background-color: rgba(28, 42, 247,0.05);
    text-align: center;
    align-content: center;
    margin: 0;
}

.Fondo{
    text-align: center;
    background-image: url(Calov1.jpeg);
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:scroll;
    width: 100%;
    height: 93vh;
    background-size: cover;
    box-shadow: 0px 0px 30px rgba(247, 247, 247, 0.7);
}

.FondoI{
    text-align: center;
    background-image: url(Calov1.jpeg);
    background-size: 100%;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    align-content: center;
}

.FondoI2{
    width: 80%;
    max-width: 650px;
    box-shadow: 0px 0px 30px rgba(247, 247, 247, 0.7);
    background-color:  rgba(255, 255, 255, 0.7);
    padding-bottom: 10px;
    border-radius: 10px;
    margin: auto;
}

.FondoI3{
    width: 85%;
    height: 50%;
    max-width: 550px;
    max-height: 320px;
    box-shadow: 0px 0px 30px rgba(228, 220, 111, 0.5);
    background-color:  rgba(209, 235, 137, 0.7);
    border-radius: 10px;
    margin: auto;
    margin-top: 2vh;
}

form{
    width: 70%;
    max-width: 600px;
    box-shadow: 0px 0px 30px gray;
    background-color: rgb(122, 119, 119,0.7);
    padding: 20px 0;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.forminput{
    padding: 6px 20px;
    text-align: center;
}

button{
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: 90%;
    font-size: 2.5vh;
    font-family: sans-serif;
    border-radius: 10px;
}

input{
    width: 100%;
    box-sizing:border-box;
    padding: 6px 12px;
    border: none;
    border-left: 3px solid black;
    box-shadow: 0px 0px 10px 5px;
    border-radius: 8px;
    text-align: center;
}

h1{
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 2vh;
    font-size: 5vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 1vh;
    background-color: rgba(28, 42, 247, 0.5);
    box-shadow: 0px 0px 70px 70px rgba(28, 42, 247, 0.5);
}

h3{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0;
}

h4{
    font-size: 3vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 2vh;
}

h5{
    margin:0;
    margin-top:1vh;
}

h6{
    margin:0;
    margin-bottom: 1vh;
}


video{
    width: 80%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.boton{
    box-sizing: border-box;
    padding: 0;
    width: 90%;
    height: 85%;
    font-family: sans-serif;
    font-size: 5vh;
    box-shadow: 0px 0px 70px 70px rgb(211, 145, 189,0.6);
    border-radius: 10px;
    border-color: white;
}

.Caja{
    width: 28vh;
    height: 35vh;
    margin:0;
    margin-left: 10px;
    margin-bottom: 10px;
    display:inline-block;
    overflow: hidden;
    justify-content: center;
    text-align:center;
    border-radius: 10px;
    font-size: 5vh;
    padding: 0;
    padding-top: 5vh;
}

.Caja2{
    width: 40vh;
    height: 40vh;
    margin: 0;
    background-color: white;
    display:inline-block;
    overflow: hidden;
    justify-content: center;
    text-align:center;
    border-radius: 10px;
}

img{
    width: 78%;
    height: 92%;
    box-shadow: 0px 0px 80px gray;
    margin-top: 10px;
}

.CajaBaja{
    background:linear-gradient(rgb(255, 255, 255, 0.5),rgb(128, 233, 168),rgb(159, 255, 159));
    max-height: 80px;
    margin: 0;
    margin-top: 3vh;
    margin-bottom: 5px;
    width:100%;
    height: 6vh;
}

a{
    color: rgb(0, 0, 0);
    font-size: 3.5vh;
    font-weight: 400;
    margin: auto;
}

.Fijo{
    text-align:center;
    position:fixed;
    width: 100%;
    background:linear-gradient(white,rgb(204, 195, 204),rgba(194, 167, 194, 0.4));
    box-shadow: 0px 0px 50px 30px rgba(194, 167, 194, 0.4);
}
    
.CajonS{
    width: 100%;
    height: 25vh;
}

.ImagenP{
    margin-top: 2vh;
    max-width: 80%;
    margin-left: 10%;
    box-shadow: 0px 0px 100px 10px  rgba(248, 237, 248, 0.4);
    border-radius: 40px;
    background-color: rgba(248, 237, 248, 0.4);
    margin-bottom: 20px;
    border: 0;
}

.Image2{
    width: 95%;
    height: 95%;
    box-shadow: 0px 0px 10px rgb(206, 28, 28);
    margin-top: 1vh;
    border-radius: 10px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.ImagenL{
    margin-top: 2vh;
    max-width: 32%;
    margin-left: 34%;
    box-shadow: 0px 0px 100px 10px  rgba(248, 237, 248, 0.4);
    border-radius: 40px;
    background-color: rgba(248, 237, 248, 0.4);
    margin-bottom: 20px;
    border: 0;
}

.CajaV{
    width: 95%;
    height: 40%;
    background-color: rgb(224, 205, 216,0.7);
    text-align: center;
    margin-top: 2.5vh;
    margin-left: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-container{
    max-width: 1200px;
    width: 95%;
    background-color: white;
    padding: 40px 8px;
    margin-bottom: 0;
}
.slide-content{
    margin:20px 40px;
    margin-bottom: 10px;
}

.card{
    border-radius: 25px;
    background-color: rgb(211, 243, 243);
}

.image-content,.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 5px;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 15px 5px;
}

.overlay{
    position:absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
    content:'';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: aquamarine;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color:rgb(211, 243, 243);
}

.card-image{
    position:relative;
    height: 70px;
    width: 70px;
    border-radius:30% ;
    background: #fff;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius:50% ;
    border: 1px solid blue;
    margin: 0;
}

.Name{
    font-size: 2vh;
    font-weight: 500;
    color: gray;
}

.description{
    font-size: 14px;
    color: black;
    text-align: center;
}

.buttonS{
    border:none;
    font-size: 16px;
    color: beige;
    padding: 8px 5px;
    background-color: blue;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3S ease;
}

.buttonS:hover{
    background: rgb(46, 46, 48);
}


